#containerContent{
	width: 75%;
	margin-left: 14%;
	margin-top: 8%;
	margin-bottom: 8%;
}

/*título da página*/
h1.titulo {
	margin-left: -5%;
	font-size: 2em;
	color: #0E89AC;
	font-weight: normal;
	text-transform: uppercase;
}

.corpoTexto {
	font-size: 1.2em;
}

.content {
	margin: 5% 0;
}

.caixa {
	margin: 6% 0%;
} 

.boxie {
	margin-left: -10%;
	padding: 0% 10%;
}

img.imgApoio {
	width: 100%;
	padding: 0;
	margin: 0;
	margin-left: -60%;
}


/*verdes*/
h4.titulo4V {
	font-weight: normal;
	color: #92C25A;
	text-transform: uppercase;
	text-align: center;
}

.bordaV {
	border: 2px solid #92C25A;
	padding: 1%;
	margin: 0 0 4% 0%;
	border-radius: 10px;
}

.botaoV {
	background-color: #92C25A;
	color: #FFFFFF;
}

/*alinha o botão*/
.botaoAlinhamentoV {
	text-align: right;
}

/*seta*/
a.collapseColorV {
	color: #92C25A;
}

/*azuis*/
h4.titulo4A {
	font-weight: normal;
	color: #0E89AC;
	text-transform: uppercase;
	text-align: center;

}

.bordaA {
	border: 2px solid #0E89AC;
	padding: 1%;
	margin: 0 0 2% 0;
	border-radius: 10px;
}

.botaoA {
	background-color: #0E89AC;
	color: #FFFFFF;
}

.botaoL {
	background-color: #EC7F2B;
	color: #FFFFFF;
	margin-left: 2%;
}

/*alinha o botão*/
.botaoAlinhamentoA {
	text-align: right;
}

/*seta*/
a.collapseColorA {
	color: #0E89AC;
}

@media only screen and (max-width: 580px) {
	#containerContent{
		margin-top: 20%;
	}

	.col-sm-2 {
		padding-bottom: 10%;
	}

	h1.titulo {
		font-size: 1.2em;
		color: #0E89AC;
		font-weight: normal;
		text-align: center;
	}

	h4.titulo4A, h4.titulo4V {
		font-size: 0.85em;
		text-align: center;
		text-transform: uppercase;
	}

	.corpoTexto {
		font-size: 0.8em;
	}

	.caixa {
		text-align: center;
	}

	img.imgApoio {
		width: 40%;
		margin: 0;
		padding: 0;
		margin-top: -15%;
		margin-bottom: 2%;
	}

	.boxie {
		margin-left: 0%;
	}

	.bordaA, .bordaV {
		padding: 4%;
		margin: 4%;
		margin-top: 10%;
	}

	.botaoAlinhamentoV, .botaoAlinhamentoA {
		text-align: center;
	}

	.botaoA, .botaoV {
		font-size: 0.8em;
		text-align: center;
		margin-bottom: 2%;
	}

	.botaoL {
		background-color: #EC7F2B;
		color: #FFFFFF;
		font-size: 0.8em;
	}

	.col-sm-10.box{
		padding: 0px;
	}
	.btn.botaoL{
		margin: 0px;
	}

}
