#containerContent{
	width: 80%;
	margin-left: 10%;
	margin-top: 8%;
}

/*título da página*/
h1.titulo {
	font-size: 2em;
	color: #0E89AC;
	font-weight: normal;
	text-transform: uppercase;
}
.content {
	margin: 5% 0;
}

.caixa {
	margin: 6% 0%;
}

.boxie {
	margin-left: 0%;
}

img.imgFundo {
	position: absolute; 
	width: 400%; 
	margin: -100% -200%;

}

img.imgDuvida {
	position: absolute; 
	margin: -25% -100%; 
	width: 200%;
}

img.imgDuvida2 {
	position: absolute; 
	margin: 0% -150%; 
	width: 300%;
}

img.imgDuvida3 {
	position: absolute; 
	margin: 0% -100%; 
	width: 200%;
}

/*verdes*/
h4.titulo4V {
	font-weight: normal;
	color: #92C25A;
	text-transform: uppercase;
	text-align: center;
}

.bordaV {
	border: 2px solid #92C25A;
	padding: 1%;
	margin: 0 0 10% 0%;
	border-radius: 10px;
}

/*seta*/
a.collapseColorV {
	color: #92C25A;
}

/*azuis*/
h4.titulo4A {
	font-weight: normal;
	color: #0E89AC;
	text-transform: uppercase;
	text-align: center;
}
.bordaA {
	border: 2px solid #0E89AC;
	padding: 1%;
	margin: 0 0 10% 0;
	border-radius: 10px;
}


/*seta*/
a.collapseColorA {
	color: #0E89AC;
}

@media only screen and (max-width: 580px) {
	#containerContent{
		margin-top: 20%;
	}

	h1.titulo {
		font-size: 1.2em;
		color: #0E89AC;
		font-weight: normal;
		text-transform: uppercase;
		text-align: center;
	}

	h4.titulo4A, h4.titulo4V {
		font-size: 1em;
		text-transform: uppercase;
		text-align: center;
	}

	.imagens {
		height: 75px;
		margin: -10% 30% 5% 30%;
		text-align: center;
	}

	img.imgFundo {
		position: absolute; 
		width: 40%; 
		margin: -10% -50%;
	}

	img.imgDuvida {
		position: absolute; 
		margin: -2% -40%; 
		width: 20%;
	}

	img.imgDuvida2 {
		position: absolute; 
		margin: 0% -45%; 
		width: 30%;
	}

	img.imgDuvida3 {
		position: absolute; 
		margin: 0% -40%; 
		width: 20%;
	}

	.corpoTexto {
		font-size: 0.75em;
	}

	.caixa {
		text-align: center;
	}

	.boxie {
		margin-left: 0%;
	}

	.bordaA, .bordaV {
		padding: 4%;
		margin: 4%;
		margin-top: 10%;
	}

}
