#containerContent{
	width: 80%;
	margin-left: 10%;
	margin-top: 8%;
	margin-bottom: 8%;
}

/*título da página*/
h1.titulo {
	font-size: 2em;
	color: #0E89AC;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 2%;
}

p {
	text-indent: 2em;
	font-size: 1.2em;
	text-align: justify;
}

/* ilustração*/
.ilustracao {
	width: 80%;
}


@media only screen and (max-width: 780px) {
	#containerContent{
		margin-top: 20%;
	}

	h1.titulo {
		font-size: 1.2em;
		color: #0E89AC;
		font-weight: normal;
		text-transform: uppercase;
		text-align: center;
	}

	p {
		text-indent: 2em;
		font-size: 0.8em;
		text-align: justify;
	}


}