


body {
    font-family: Verdana;
    font-size: 12px;
    /*IE 7 E 6*/
    *text-align: center;
    _text-align: center;

}

#cabecalho {
    display: block;
    margin: 4px auto;
    max-width: 760px;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    background-image: url('../imagens/fundo_titulo_multi.png');
    background-repeat: repeat-x;
    color: #0033BB;
    text-align: left;

    /*IE 7 E 6*/
    *width: 760px;
    _width: 760px;
}

#cabecalho span {
    font-size: 2.1em;
    padding-left: 25px;
    border-bottom: 2px solid #000000;
    padding-right: 40px;
    color: #DD00FF;
    background-image: url('../imagens/topico.png');
    background-repeat: no-repeat;
    background-position: 0px 22px;
}

#btnVoltar {
    float: left;
    height: 30px;
}

#btnAvancar {
    float: right;
    height: 30px;
}

#navegacao {
    margin: 0px auto;
    max-width: 760px;
    width: 100%;
//    text-align: right;

        /*IE 7 E 6*/
    *width: 760px;
    _width: 760px;
    
}

#navegacao div {	
    display: inline-block;
    
    /*IE 7 E 6*/
    *display: inline;
    _display: inline;
    
    height: 18px;
    padding: 5px;
    min-width: 18px;
    border : 1px solid #000000;
    text-align: center;
    background-color: #ffffcc;
}

#navegacao div.itemAtual {	
    background-color: #9900cc;
    font-weight: bold;
    color : #FFFFFF;
}

#imagemIntroducao{
    width: 400px;    
    text-align: center;
    margin: 0 auto;
    /*IE 7 E 6*/
    *text-align: center;
    _text-align: center;        
    *width: 100%;
    _width: 100%;
}

#imagem{
    text-align: center;
    margin: 0 auto;
    width: 400px;
    *text-align: center;
    _text-align: center;
    *width: 100%;
    _width: 100%;

}

#legenda{
    width:400px;
}

#imagemIntroducao img{
    width:300px;
    cursor: pointer;
    max-height: 400px;
}

#imagem img{
    width:300px;
    max-height: 400px;
}

#imagemIntroducao p{
    text-align: right;
    margin: 0;
    font-style: italic;

}

#popupInstrucoes{
    display:none;
    position:fixed;
    
    height:200px;
    /*width:408px;*/
    width:100%;
    max-width: 760px;
    background:#FFFFFF;
    border:1px solid #cecece;
    z-index:2;
    padding:10px;
    margin: 10px auto;
    min-height: 400px;


    *heigth:  320px;
    _heigth:  320px;
    *width:  760px;
    _width:  760px;
    *position:absolute; /* hack for internet explorer 6*/ !important
    _position:absolute; /* hack for internet explorer 6*/ !important
}

#conteudo {
    margin: 4px auto;
    padding: 9px;
    border: 1px solid #0033BB;
    max-width: 760px;
        /*IE 7 E 6*/
    *width: 760px;
    _width: 760px;    

}

#texto, #resposta, #questao{
    min-height: 400px;
    margin: 0px auto;
    max-width: 760px;
    text-align: justify;
    /*IE 7 E 6*/
    *height: 200px;
    _height: 200px;

}

#resposta{
    margin-left: 10px
}

#questao{
    padding-right: 10px
}
.mensagem {
    text-align: center;
    color: darkgreen;
    font-weight: bold;
}

#feedback {
    display: none;
}


#questao {
    margin-right: 50%;
    padding-right: 8px;
    text-align: justify;
}

#resposta {
    float: right;
    width: 50%;
    padding-left: 8px;
}

#rodape {
    margin: 10px;
    text-align: center;
    
}

div.itemAtual {
    background-color: #9900cc;
    font-weight: bold;
    color : #FFFFFF;
}


div.feedbackCorreto {
    color : #00be00;
    padding-bottom: 20px;
    /*font-size: 1.5em;*/
}

div.feedbackIncorreto {
    color : #be0000;
    padding-bottom: 20px;
    /*font-size: 1.5em;*/
}



/* formata botoes !!*/
.radio{
    /*IE 7 E 6*/
    *border: 0px; !important
    _border: 0px; !important
    *background: #fff;
    _background: #fff;
}

button, input {
    border: 1px solid #006;
    background: #ffc;
    cursor: pointer;       
}

button:hover, input:hover {
    border: 1px solid #f00;
    background: #ff6;
    color: #000;
    
}
/*button {
    border: 1px solid #006;
    background: #ccf;
}*/
/*button:hover {
    border: 1px solid #f00;
    background: #eef;
}*/

div.ferramentas_texto{    
    text-align: center;
    align:right;
    float: right;
    right: 0;

    /*IE 7 E 6*/
    *display: inline;
    _display: inline;    

}

div.ferramentas_texto a{
	padding: 4px;
	border: 1px solid #666;
	font-size: 11px;
	font-weight: bold;
	margin-right: 7px;
	width: 22px;
	height: 16px;
	display: inline-block;
        cursor: pointer; 
	
        /*IE 7 E 6*/
        *display: inline;
        _display: inline;
	background: #ffffcc;
        color: #9900cc;
}
div.ferramentas_texto a:hover{
	background: #666;
	border-color: #222;
	color: #fff;
	cursor: pointer;
}

#navegacaoQuestoes{
    max-width: 760px;
    text-align: center;
    margin: 0 auto;
    /*display:none;*/
    /*padding-top: 20px;
    border: 1px solid;    */
    /*IE 7 E 6*/
    *width: 100%;
    _width: 100%;
    padding: 4px 10px;
    background-color: #cceeff;
}


.alinhaCentro{
    text-align: center;
}

.alinhaEsquerda{
    float: left;
    /*IE 7 E 6*/
    *margin-right: 46%;
    _margin-right: 46%;
}

.alinhaDireita{
   /*position: absolute;
   margin-left: 50%;*/   

   /*IE 7 E 6*/
   *margin-left: 46%;
   _margin-left: 46%;
   *float:none; !important
   _float:none; !important
}

.sublinhado{
    text-decoration: underline;
}

.negrito{
    font-weight: bolder;
}

#licenca p{
    display: inline;
    text-align: justify;
    font-style: italic;    
}

#licenca div{
    width: 85%;
    margin-left: 100px;
    text-align: justify;
}

#licenca img{
    float:left;
    padding-right: 10px;
    border: 0;
    padding-top: 10px;
}

#licenca{
    display: none;
    border: 1pt solid;
    padding-top: 10px;
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    /*IE 7 E 6*/
    *width: 760px;
    _width: 760px;
    
}

.lengendaImg{
    font-size: 10px;
    font-style: italic;
}

#mensagem_resposta {
    margin-top: 20px;
}
