/*
* Arquivo de estilos específicos do jogo da memória.
*/

.carta { position: absolute; display:block; cursor:pointer; cursor:hand;}
#carta-0 {
    top: 220px;
    left: 130px;
}
#carta-1 {
    top: 240px;
    left: 302px;
}
#carta-2 {
    top: 215;
    left: 480;
}
#carta-3 {
    top: 135;
    left: 110;
}
#carta-4 {
    top: 137;
    left: 240;
}
#carta-5 {
    top: 155;
    left: 360;
}
#carta-6 {
    top: 170;
    left: 630;
}
#carta-7 {
    top: 68;
    left: 300;
}
#carta-8 {
    top: 85;
    left: 420;
}
#carta-9 {
    top: 120;
    left: 530;
}


#mesa-de-jogo {   position: relative; display: block;   text-align:center; background-image: url("../imagens/cenario.png"); width: 780px; height: 352px;}
#formulario-resposta {border: 1px solid #000000; padding: 0 10px 10px 10px; margin-top: 5px;}
#pergunta { display: block; font-size: 14pt; margin: 5px 0 10px 0;}
#msg-jogo { display: block; font-weight: bold; line-height: 220%;}
