body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #2F6871;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	text-align:justify;
}
table {
	width:100%;
}
a:link{
	color: #006688;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style:oblique;
	line-height: normal;
	font-weight:100;
	text-decoration:underline;
}
a:visited{
	color: #AA6699;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style:oblique;
	line-height: normal;
	font-weight:100;
	text-decoration:underline;
}
a:hover{
	color: #AA6699;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style:oblique;
	line-height: normal;
	font-weight:100;
	text-decoration:underline;
}
.titulo {
	color: #2F6871;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style:oblique;
	line-height: normal;
	font-weight:100;
	font-variant:inherit;
	text-decoration:none;
}
.atividade {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	text-decoration: none;
	background-color: #FFFF99;
}
.texto {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	text-decoration: none;
	background-color: #66CCFF;
}

.complementar {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	text-decoration: none;
	background-color: #33CC99;
}
