#pic {
        background-color: #FFFFFF;
        left: 2px;
        position: relative;
        top: 2px;

}

#pic a .large {
        border: 0px;
        display: block;
        height: 1px;
        left: -1px;
        position: absolute;
        top: -1px;
        width: 1px;
}

#pic a .large1 {
        border: 0px;
        display: block;
        height: 1px;
        left: -1px;
        position: absolute;
        top: -1px;
        width: 1px;
}

#pic a .largeesq {
        border: 0px;
        display: block;
        height: 1px;
        left: -1px;
        position: absolute;
        top: -1px;
        width: 1px;
}

#pic a img {
        border: 0;
}

#pic a.p1, #pic a.p1:visited {
        background: #FFFFFF;
/*      border: 1px solid #000000;*/
        display: block;
        left: 0;
        text-decoration: none;
        top: 0;

}

#pic a.p1:hover {
        background-color: #8C97A3;
        color: #000000;
        text-decoration: none;
}

#pic a.p1:hover .large {
        border: 1px solid #000000;
        display: block;
        width: 361px;
        height: 370px;
        left: 150px;
        position: absolute;
        top: -10px;

}

#pic a.p1:hover .large1 {
        border: 1px solid #000000;
        display: block;
        width: 380px;
        height: 325px;
        left: -250px;
        position: absolute;
        top: -5px;

}

#pic a.p1:hover .largeesq {
        border: 1px solid #000000;
        display: block;
        width: 350px;
        height: 300px;
        left: -2px;
        position: absolute;
        top: -5px;

}



span.linkimagem{
	font-size: 11px;
	font-style: italic;
}

ul, li {
	list-style-type:none;
	padding:0;
	margin:0;
	}		
#crumbs {
	height:2.3em;
	border:1px solid #dedede;
	}
#crumbs li {
	float:left;
	line-height:2.3em;
	color:#777;
	padding-left:.75em;
	}		
#crumbs li a {
	background:url(../images/crumbs.gif) no-repeat right center;
	display:block;
	padding:0 15px 0 0;
	}							
#crumbs li a:link,
#crumbs li a:visited {
	color:#777;
	text-decoration:none;
	}	
a:link, a:visited,	
#crumbs li a:hover,
#crumbs li a:focus {
	color:#dd2c0d;
}		

#crumbs #current {
    background:url(../images/crumbsc.gif) no-repeat right center;
}







#container
{
	margin: 1em auto;
	width: 850px;

}

#header { background: #CF3; }
#mainnav { background: #9F3; }

#contentsright
{
	float: right;
	width: 400px;
	

}

#contentscenter
{
	float: left;
	width: 850px;
	

}

#contentsleft
{
	float: left;
	width: 400px;
	display: inline;
	margin: 0 0 0 2px;
	
}

#footer
{
	clear: both;

}





body {
	font: 85% arial, hevetica, sans-serif;
	text-align: center;
	font-size:13px;
	background-color:#F1EDCF;
	margin: 0;
	padding: 0;
}

h1 {
	font-size:190%;
	margin:20px;
	padding:0;
}


.dropshadow-tr {
	width:100%;
	float:left;
	margin:0px 0 0 0px;
	padding:0;
	background:url("../images/dropshadow_tr.gif") no-repeat right top;
}

.dropshadow-tl {
	margin:0;
	padding:0;
	background:url("../images/dropshadow_tl.gif") no-repeat left top;
}

.dropshadow-br {
	margin:0;
	padding:0;
	background:url("../images/dropshadow_br.gif") no-repeat right bottom;
}

.dropshadow-bl {
	margin:0;
	padding:0;
	background:url("../images/dropshadow_bl.gif") no-repeat left bottom;
}


.dropshadow-content {
	margin:0;
	padding:16px 32px 32px 16px;
}

.dropshadow-content p, .dropshadow-content h1 {
	margin:0; 
	padding:0;
	line-height:1.6;
}
