nav{
	background-color: #F7F7F7;
	/*background-color: #003960;*/
	margin: 0;
	padding: 0;
}
#athenanavbar{
	padding: 0px;
}
#logoNav{
	margin: 0;
	padding: 0;
	max-height: 50px;
	margin-left: 10%;
}
#logoNav img{
	margin: 0px;
}
#navbarCollapse{
	margin-right: 10%;
}
#buttonMobile{
	margin-right: 10%;
}

.nav-link{
 color: #003960!important;
}

.dropdown-menu.show{
	background-color: #F7F7F7;
	border: none;
	border-radius: 0px;
	margin: 0px;
	padding: 0px;
}
.dropdown-item{
	color: #003960;
	border: none;
	border-radius: 0px;
}
.dropdown-item:hover{
	color:#003960;
	border: none;
	border-radius: 0px;
	background-color: #fdfdfd;
}
#searchBar{
	background-color: #f7f7f7;
	width: 100%;
	padding-top: 2vh;
	padding-bottom: 2vh;
}
#containerSearchBar{
	width: 80%;
	margin-left: 10%;
	text-align: center;
}
#containerSearchBar *{
	display: inline-block;
	margin:auto;
}
#containerSearchBar p{
	color: #000;
}
#formsearch select{
	background-color: white;
	max-width: 200px;
}

input[type="submit"]{
	color:white;
	font-weight: bold;
	border: none;
	background-color: #001727;
}
input[type="submit"]:hover{
	cursor: pointer;
}


/*media queries*/
@media only screen and (max-width: 780px) {
	#navbarCollapse{
		margin-left: 10%;
	}
	#containerSearchBar *{
		width: 100%;
		margin-bottom: 1vh;
	}
	#formsearch select{
		max-width: 100%;
	}


}