


body {
    font-family: Verdana;
    font-size: 12px;
    /*IE 7 E 6*/
    *text-align: center;
    _text-align: center;

}

#cabecalho {
    display: block;
    margin: 10px auto;
    max-width: 780px;
    padding: 10px;
    font-size: 15pt;
    font-weight: bold;
    background-color: #be0000;
    color: gold;
    text-align: center;

    /*IE 7 E 6*/
    *width: 760px;
    _width: 760px;

}


#imagemIntroducao{
    width: 400px;    
    text-align: center;
    margin: 0 auto;
    /*IE 7 E 6*/
    *text-align: center;
    _text-align: center;        
    *width: 100%;
    _width: 100%;
}

#imagem{    
    text-align: center;
    margin: 0 auto;    
}

#legenda{
    width:400px;
}

#imagemIntroducao img{
    width:400px;
    cursor: pointer;
    max-height: 500px;


}

#imagemIntroducao p{
    text-align: right;
    margin: 0;
    font-style: italic;

}

#popupInstrucoes{
    display:none;
    position:fixed;
    
    height:100px;
    /*width:408px;*/
    width:100%;
    max-width: 760px;
    background:#FFFFFF;
    border:1px solid #cecece;
    z-index:2;
    padding:10px;
    margin: 10px auto;
    min-height: 300px;


    *heigth:  300px;
    _heigth:  300px;
    *width:  760px;
    _width:  760px;
    *position:absolute; /* hack for internet explorer 6*/ !important
    _position:absolute; /* hack for internet explorer 6*/ !important
}

#conteudo {
    margin: 10px auto;
    padding: 10px;
    border: 1px solid maroon;
    max-width: 780px;
        /*IE 7 E 6*/
    *width: 760px;
    _width: 760px;    

}

#texto{
    min-height: 400px;
    margin: 0px auto;
    max-width: 760px;
    text-align: justify;
    /*IE 7 E 6*/
    *height: 300px;
    _height: 300px;

}

#resposta{
    margin-left: 10px
}

#questao{
    padding-right: 10px
}
.mensagem {
    text-align: center;
    color: darkgreen;
    font-weight: bold;
}

#feedback {
    display: none;
}


#questao {
    margin-right: 50%;
    padding-right: 8px;
    text-align: justify;
}

#resposta {
    float: right;
    width: 50%;
    padding-left: 8px;
}


#navegacao {
    margin: 10px auto;
    margin-bottom: 0px;
    padding: 10px;
    max-width: 760px;
    width: 100%;
    text-align: right;

        /*IE 7 E 6*/
    *width: 760px;
    _width: 760px;
    
}

#navegacao div {	
    display: inline-block;
    
    /*IE 7 E 6*/
    *display: inline;
    _display: inline;
    
    padding: 5px;    
    min-width: 50px;
    border : 1px solid #000000;
    background-color: #CCBBAA;
    text-align: center;
    cursor:pointer;
    cursor:hand;
}

#rodape {
    margin: 10px;
    text-align: center;
    
}

div.itemAtual {
    background-color: #be0000;
    font-weight: bold;
    color : #FFFFFF;
}


div.feedbackCorreto {
    color : #00be00;
    padding-bottom: 20px;
    /*font-size: 1.5em;*/
}

div.feedbackIncorreto {
    color : #be0000;
    padding-bottom: 20px;
    /*font-size: 1.5em;*/
}



/* formata botoes !!*/
.radio{
    /*IE 7 E 6*/
    *border: 0px; !important
    _border: 0px; !important
    *background: #fff;
    _background: #fff;
}

button, input {
    border: 1px solid #006;
    background: #ffc;
    cursor: pointer;       
}

button:hover, input:hover {
    border: 1px solid #f00;
    background: #ff6;
    color: #000;
    
}
/*button {
    border: 1px solid #006;
    background: #ccf;
}*/
/*button:hover {
    border: 1px solid #f00;
    background: #eef;
}*/

div.ferramentas_texto{    
    align:right;
    float: right;
    right: 0;

    /*IE 7 E 6*/
    *display: inline;
    _display: inline;    

}

div.ferramentas_texto a{
	padding: 4px;
	border: 1px solid #666;
	font-size: 11px;
	font-weight: bold;
	margin-right: 7px;
	width: 22px;
	height: 16px;
	display: inline-block;
        cursor: pointer; 
	
        /*IE 7 E 6*/
        *display: inline;
        _display: inline;
	background: gold;
        color: #be0000;
}
div.ferramentas_texto a:hover{
	background: #666;
	border-color: #222;
	color: #fff;
	cursor: pointer;
}

#navegacaoQuestoes{
    text-align: right;
    /*display:none;*/
    /*padding-top: 20px;
    border: 1px solid;    */
    /*IE 7 E 6*/
    *width: 100%;
    _width: 100%;
}


.alinhaCentro{
    text-align: center;
}

.alinhaEsquerda{
    float: left;
    /*IE 7 E 6*/
    *margin-right: 46%;
    _margin-right: 46%;
}

.alinhaDireita{
   /*position: absolute;
   margin-left: 50%;*/   

   /*IE 7 E 6*/
   *margin-left: 46%;
   _margin-left: 46%;
   *float:none; !important
   _float:none; !important
}

.sublinhado{
    text-decoration: underline;
}

.negrito{
    font-weight: bolder;
}

#licenca p{
    display: inline;
    text-align: justify;
    font-style: italic;    
}

#licenca div{
    width: 85%;
    margin-left: 100px;
    text-align: justify;
}

#licenca img{
    float:left;
    padding-right: 10px;
    border: 0;
    padding-top: 10px;
}

#licenca{
    display: none;
    border: 1pt solid;
    padding: 10px;
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    /*IE 7 E 6*/
    *width: 760px;
    _width: 760px;
    
}

.lengendaImg{
    font-size: 10px;
    font-style: italic;
}

.tictac{
    width:80px;
    height:80px;
    font-size: 20pt;
    margin-bottom: 6px;    
}

#tictactoe{
    /*border: 1pt solid;*/
    text-align: center;
    width: 100%;    
    /*display: inline-block ;*/
    /*border: 1pt solid;*/
    padding: 5px;

    /**display: inline ;
    _display: inline ;*/
}

#tictactxtEsq{
    width: 40%;    
    display: inline-block;
    padding: 5px;
    margin: 5px;    
    *margin-right: 8%;
    _margin-right: 8%;
    /**display: block;
    _display: block;*/
    float: left;


}

#tictactxtDir{    
    width: 50%;
    float: right;
    font-weight: bold;
    border: 1pt solid;
    padding: 5px;        

    *float: left; !important
    _float: left; !important
 /*   *display: block;
    _display: block;*/

  
}

.tictacganhou, .tictacperdeu, .tictacempatou{
    font-size: 15pt;
}

.tictacganhou{
    color: green;
}

.tictacperdeu{
    color: red;
}

.tictacempatou{
    color: blue;
}

.tictacXresultado{
    background-color: red;
}

.tictacOresultado{
    background-color: green;
}

.ecw-answerbox
{
	color: black;
	background-color: #FFFAF0;
	border-color: #808080;
	border-style: solid;
	border-width: 1px;
	display: block;
	padding: .75em;
	width: 350pt;
        font-size: .12in;
}

.ecw-box
{
	border-style: solid;
	border-width: 1pt;
	cursor: pointer;
	font-size: .12in;
	font-weight: bold;
	height: .18in;
	overflow: hidden;
	text-align: center;
	width: .18in;
}

.ecw-boxcheated_sel
{
	background-color: #FFF1D7;
	border-color: #C00000;
	color: #2080D0;
}

.ecw-boxcheated_unsel
{
	background-color: #ffffff;
	border-color: #606060;
	color: #2080D0;
}

.ecw-boxerror_sel
{
	background-color: #FFF1D7;
	border-color: #C00000;
	color: #BF0000;
}

.ecw-boxerror_unsel
{
	background-color: #FFF0F0;
	border-color: #606060;
	color: #BF0000;
}

.ecw-boxnormal_sel
{
	background-color: #FFF1D7;
	border-color: #C00000;
	color: #000000;
}

.ecw-boxnormal_unsel
{
	background-color: #ffffff;
	border-color: #606060;
	color: #000000;
}

.ecw-button
{
	width: 64pt;
}

.ecw-cluebox
{
	border-bottom-width: 1px;
	border-color: #c0c0c0;
	border-left-width: 0px;
	border-right-width: 0px;
	border-style: solid;
	border-top-width: 1px;
	margin-top: 1em;
	padding-bottom: .5em;
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: .5em;
}

.ecw-crosswordarea
{
	background-color: #D0D8E0;
	border-color: #808080;
	border-style: solid;
	border-width: 2px;
	padding: .5em;
	font-family: Segoe UI, Verdana, Arial, sans-serif;
	font-size: small;
        /*height: 420px;*/
}

.ecw-copyright
{
	margin-bottom: 1em;
	font-size: x-small;
	font-family: Segoe UI, Franklin Gothic Medium, Arial, sans-serif;
}

.ecw-input
{
	font-family: Segoe UI, Franklin Gothic Medium, Arial, sans-serif;
}

.ecw-wordlabel
{
	text-transform: uppercase;
	margin: 0;
}

.ecw-wordinfo
{
	font-size: 8pt;
	color: #808080;
}

.ecw-worderror
{
	color: #c00000;
	font-weight: bold;
	display: none;
	margin-top: 1em;
}

#avancar{
    text-align: right;
}
