span.linkimagem{
	font-size: 11px;
	font-style: italic;
}

ul, li {
	list-style-type:none;
	padding:0;
	margin:0;
	}		
#crumbs {
	height:2.3em;
	border:1px solid #dedede;
	}
#crumbs li {
	float:left;
	line-height:2.3em;
	color:#777;
	padding-left:.75em;
	}		
#crumbs li a {
	background:url(../images/crumbs.gif) no-repeat right center;
	display:block;
	padding:0 15px 0 0;
	}							
#crumbs li a:link,
#crumbs li a:visited {
	color:#777;
	text-decoration:none;
	}	
a:link, a:visited,	
#crumbs li a:hover,
#crumbs li a:focus {
	color:#dd2c0d;
}		

#crumbs #current {
    background:url(../images/crumbsc.gif) no-repeat right center;
}







#container
{
	margin: 1em auto;
	width: 850px;

}

#header { background: #CF3; }
#mainnav { background: #9F3; }

#contentsright
{
	float: right;
	width: 400px;
	

}

#contentscenter
{
	float: left;
	width: 850px;
	

}

#contentsleft
{
	float: left;
	width: 400px;
	display: inline;
	margin: 0 0 0 2px;
	
}

#footer
{
	clear: both;

}





body {
	font: 85% arial, hevetica, sans-serif;
	text-align: center;
	font-size:13px;
	background-color:#F1EDCF;
	margin: 0;
	padding: 0;
}

h1 {
	font-size:160%;
	margin:20px;
	padding:0;
}


.dropshadow-tr {
	width:100%;
	float:left;
	margin:0px 0 0 0px;
	padding:0;
	background:url("../images/dropshadow_tr.gif") no-repeat right top;
}

.dropshadow-tl {
	margin:0;
	padding:0;
	background:url("../images/dropshadow_tl.gif") no-repeat left top;
}

.dropshadow-br {
	margin:0;
	padding:0;
	background:url("../images/dropshadow_br.gif") no-repeat right bottom;
}

.dropshadow-bl {
	margin:0;
	padding:0;
	background:url("../images/dropshadow_bl.gif") no-repeat left bottom;
}


.dropshadow-content {
	margin:0;
	padding:16px 32px 32px 16px;
}

.dropshadow-content p, .dropshadow-content h1 {
	margin:0; 
	padding:0;
	line-height:1.6;
}
